@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.categories {

  &__wrapper {
    display: grid;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 64px;
    }
  }

  &__footer {
    @include pageGrid;

  }

  &__button {
    height: 56px;
    background-color: #292929;
    color: #fff;
    grid-column: span 2;
    align-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;

    @include onTablet{
      grid-column: 2/-2;
    }
    @include onDeskptop{
      grid-column: 5/-5;
    }


  }

}

.category {
  &__photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {

    position: relative;

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDeskptop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;

      }

      @include onDeskptop {
        grid-column: span 4;

      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}