.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/image-3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__waves {
    background-image: url(../images/sound_waves.png);
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-size: cover;

    @include onTable{
      width: 64px;
      height: 76px;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
  
    @include onTable{
      font-size: 40px;
    }
  
  
  }

  &__bottom {
    @include contentPaddingInLine;
    padding-bottom: 40px;

    @include onTable{
      padding-bottom: 64px;
    }
  }
}