@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.header {

  background-image: url(../images/image-3.png);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
  }

  &__waves {
    background-image: url(../images/sound_waves.png);
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-size: cover;

    @include onTablet {
      width: 64px;
      height: 76px;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    font-style: italic;
    font-weight: $font-800;
    font-size: $font-title;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: $font-title-tabblet;
    }


  }

  &__bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 64px;
    }
  }
}