.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../images/Icon-Burger-menu-hover.png);
  background-size: cover;

  @include onTable{
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(../images/Icon-Burger-menu.png);
  }

  &--close {
    background-image: url(../images/Icon-Close.png);
  }
}