@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../images/icones/Icon-Burger-menu-hover.png);
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icones/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(../images/icones/Icon-Burger-menu.png);

    &:hover {
      background-image: url(../images/icones/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icones/Icon-Close.png);
  }
}