@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.main {
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include contentPaddingInLine;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }

}