.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;

  scroll-behavior: smooth;

  &__body {
    padding: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    pointer-events: none;    
    opacity: 0;
    transition: all 0.3s;
    transform: translate(100%);

    &:target {
      opacity: 1;
      pointer-events: all;
    transform: translate(0);

    }

  }

}