@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.recommended {

  &__products {
    @include pageGrid;
    row-gap: 40px;

  }

  &__product{
    grid-column: 1/-1;

    @include onTablet{
      grid-column: 2 / -2;
    }

    @include onDeskptop{
      grid-column: span 4;
    }
  }

}