/* #region Page */
.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;

  scroll-behavior: smooth;
}

.page__body {
  padding: 0;

}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(images/image\ 3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__waves {
  background-image: url(images/sound_waves.png);
  height: 76px;
  width: 63px;
  margin-bottom: 32px;
}

.header__title {
  margin: 0;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

/* #endregion */
/* #region menu */

.menu {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__phone-number{
  display: block;
  margin-bottom: 16px;
  
  font-size: 16px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;

}
.menu__call-to-order{
  display: block;
  padding-bottom: 7px;
  border-bottom: 1px solid #292929;
  width: fit-content;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color:inherit;
  text-decoration: none;
}

/* #endregion */

/* #region nav */
.nav__link{
color:inherit;
text-decoration: none;
font-size: 22px;
line-height: 22px;
letter-spacing: 2px;
}

.nav__list{
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */

/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(images/Icon-Phone-call.png);
}

.icon--menu {
  background-image: url(images/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(images/Icon-Close.png);
}

/* #endregion */