.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../../images/Icon-Burger-menu-hover.png);
}

.icon--phone {
  background-image: url(../../images/Icon-Phone-call.png);
}

.icon--menu {
  background-image: url(../../images/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(../../images/Icon-Close.png);
}
