@use './utils/variables.scss';
@use './utils/mixins';

@use 'blocks/page';
@use 'blocks/header';
@use 'blocks/top-bar';
@use 'blocks/icon';
@use 'blocks/menu';
@use 'blocks/nav';
@use 'blocks/section-title';
@use 'blocks/main';
@use 'blocks/products';
@use 'blocks/recommended';
@use 'blocks/howtobuy';
@use 'blocks/categories';
@use 'blocks/contacts';

