@mixin onTable{
 @media (min-width:576px){
  @content;
 }
}


@mixin contentPaddingInLine(){
  padding-inline:20px;

    @include onTable{
    padding-inline: 72px;
  }
}

@mixin hover($propriety, $toValue){
  transition: #{$propriety} 0.3s;
  &:hover {
    #{$propriety}: $toValue;
  }
}