// Colors

$main-text-color:#292929;

// duration

$effectDuration:0.3s;

// width

$width-min:320px;
$tablet-min-width: 576px;
$deskptop-min-width:1024px;

// Fontes
$font-page:16px;
$font-nav:22px;
$font-title:32px;
$font-title-tabblet:40px;
$font-title-desktop:48px;
$font-800:800;
$font-700:700;
$font-500:500;
$font-400:400;